# Налаштування порту для сервера
PORT=3000

# Хост для бази даних MongoDB (змінюй залежно від середовища)
DB_HOST_MONGO=db_mongo_if_work_with_docker_or_localhost

# Назва бази даних MongoDB
DB_MONGO=fm2024mongoose_name_of_mongo_db

# Режим середовища (development, production)
NODE_ENV=development

# Секретний ключ для підпису JWT або інших механізмів безпеки
SECRET_KEY=here_your_secret_key

#Файл example.env зазвичай додається до репозиторію для демонстрації, які змінні необхідно визначити, але без справжніх конфіденційних значень.Файл .env містить справжні значення і не повинен потрапляти у відкритий доступ (додається до .gitignore).